.wrapper {
  display: flex;
  justify-content: right;
}

.page {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: auto 0 auto 1rem;
}

.selected {
  /* background-color: aliceblue; */
  box-shadow: 1px 0px 1px gray;
}