.wrapper {
  /* margin-top: 2rem; */
  display: flex;
  justify-content: right;
}

.page {
  border: 1px solid black;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  margin: auto 0 auto 1rem;
}

.selected {
  /* background-color: aliceblue; */
  box-shadow: 1px 0px 1px gray;
}