.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.title {
  text-align: center;
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.button {
  min-width: 50px;
  width: 10%;
}